header {
  font-family: 'Srisakdi', cursive;
  background-color: lightpink;
  header: 100%;
}
body {
  background-color: lightgray;
  font-family: 'Josefine Sans', sans-serif;
}
.logo a {
  color: black;
}
.logo a:hover {
  color: black;
}
.logo a:visited {
  color: black;
}

.bd-example {
  width:640px;
  height:380px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 50px;
}

#HCB_comment_box {
  width:620px;
  height:380px;
  margin-left: 410px;
  margin-right: 400px;
  margin-top: 50px;
}
.carousel{
  float: center;
}
#sidenav {
  background-color: #111;
  padding-top: 20px;
}
#sidenav a {
  padding: 6px 8px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
#sidenav a:hover {
  color: #f1f1f1;
}
